<h1> Welcome to Rock Paper Scissors! </h1>

<button id="rock">Rock</button>
<button id="paper">Paper</button>
<button id="scissors">Scissors</button>
<hr />
<br />
<br />
<h3><span id="winner"></span></h3>
<br />
<hr />
<h3 style="color:red;"> I Choose: <span id="computer_choose"></span></h3>
<h3 style="color:blue"> You Choose: <span id="player_choose"></span>
<br />
<br />

<br />
<br />
<br />
<hr />


<h3 style="color:red;">Me: <span id="computer_wins"></span></h3>
<h3 style="color:blue">You: <span id="player_wins"></span></h3> 
<h3>Tie: <span id="ties"></span></h3>
<h3> Ratio(You/Me) = <span id="ratio"></span> </h3>